# based on https://mxd.codes/articles/docker-ci-cd-for-nextjs-with-github-actions#setting-up-github-actions-for-continuous-deployment:

name: Docker Build & Publish

on:
  push:
    branches: [main]

jobs:
  push_to_registries:
    name: Push personal website to Docker Hub
    runs-on: self-hosted
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME}}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN}}

      #- name: Log in to the Container registry
      #  uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      #  with:
      #    registry: ghcr.io
      #    username: ${{ github.actor }}
      #    password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Build and push 
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME}}/erdaifuu.com:${{ github.sha }}
            ${{ secrets.DOCKER_HUB_USERNAME}}/erdaifuu.com:latest


      - name: Deploy to remote server
        run : |
          cd public_html
          docker compose pull
          docker compose up -d --force-recreate
